 <div class="container">


        <table class="table table-bordered table-striped mat-elevation-z8">
            <thead class="table-dark">
                <tr>
                    <!-- <th>Department Id</th> -->
                    <th>Department Name</th>
                    <th>Department Email</th>
                    <th>Department Desc</th>
                    <!-- <th>Department Faculty Id</th> -->
                    <th>Department Mobile</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let dept of product">
                    <!-- <td><span>{{dept.departmentId}}</span></td> -->
                    <td><span>{{dept.productName}}</span></td>
                    <td><span>{{dept.productModel}}</span></td>
                    <td><span>{{dept.productDesc}}</span></td>
                    <!-- <td><span>{{dept.departmentFacultyId}}</span></td> -->
                    <td><span>{{dept.productManufacturerName}}</span></td>
                    <!-- <td class="d-flex justify-content-center">

                        <button class="btn btn-sm btn-primary text-white" (click)="openDetails(contentDetails, dept)">
 Details</button>
                        <button class="btn btn-sm btn-warning text-white " (click)="openEdit(contentEdit, dept)">
    Edit</button>
                        <button class="btn btn-sm btn-danger text-white" (click)="openDelete(contentDelete, dept)">
    Delete</button>
                    </td> -->
                </tr>
            </tbody>
        </table>



    </div>


<!-- <div>
    <p>Click the below button to (course)display and hide the data</p>
    <app-users></app-users>
</div> -->





